{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="container-fluid bg-dark">
        <div class="row justify-content-center pt-5 pb-3">
            <h1 class="text-light">Create new Post</h1>
        </div>
        <div class="row justify-content-center py-4">
            <div class="col-md-8 text-light" >

                {{ include('post/_form.html.twig') }}



            </div>
        </div>
    </div>
{% endblock %}